body {
    margin: 0;
    height: 1012px;
    background: #ebedec;
    font-family: sans-serif;
}
body:after {
    content: '';
    display: block;
    background: url(screenshot2.jpg) top center no-repeat;
    width: 100%;
    height: 1012px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}
body:hover:after {
    display: none;
}
.container {
    max-width: 690px;
    margin: 0 auto;
}
.top-bar-wrapper {
    padding: 18px 0;
}
.top-bar-wrapper .text-1 {
    vertical-align: middle;
}
.top-bar-logo {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    text-decoration: none;
    color: #595a5e;
}
.top-bar-logo img {
    vertical-align: middle;
}
.text-1 {
    font-style: italic;
    font-size: 8px;
    display: inline-block;
    color: #696b6a;
    margin-left: 10px;
}
.top-bar-contact {
    text-align: right;
    font-size: 22px;
    font-weight: 900;
    color: #616267;
    padding: 20px 12px 20px 0;
}