body {
    margin: 0;
    height: 1012px;
    background: #ebedec;
    font-family: sans-serif;
}
body:after {
    content: '';
    display: block;
    background: url(screenshot2.jpg) top center no-repeat;
    width: 100%;
    height: 1012px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}
body:hover:after {
    display: none;
}
.container {
    max-width: 680px;
    margin: 0 auto;
}
.top-bar-wrapper {
    padding: 18px 0 0;
}
.top-bar-wrapper .text-1 {
    vertical-align: middle;
}
.top-bar-logo {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    text-decoration: none;
    color: #595a5e;
}
.top-bar-logo img {
    vertical-align: middle;
}
.text-1 {
    font-style: italic;
    font-size: 8px;
    display: inline-block;
    color: #696b6a;
    margin-left: 10px;
    padding-bottom: 5px;
}
.top-bar-contact {
    text-align: right;
    font-size: 22px;
    font-weight: 900;
    color: #616267;
    padding: 20px 12px 14px 0;
}
.content {
    background: #f5f5f5;
    padding-top: 24px;
    padding-bottom: 16px;
}
.content-landiva {
    padding: 2px 0 0 12px;
}
.text-2 {
    color: #4b4b4b;
}
.text-3 {
    color: #6a6a6a;
    font-size: 10px;
    padding-top: 16px;
    line-height: 1.2;
}
.text-4 {
    color: #171717;
    font-style: italic;
    font-size: 9px;
    padding-top: 16px;
}
.text-5 {
    color: #383838;
    font-size: 10px;
    font-weight: 900;
    padding-top: 16px;
}
.content-features img {
    vertical-align: middle;
    display: inline-block;
}
.content-features {
    padding-top: 16px;
    font-size: 9px;
    line-height: 1.3;
    color: #6a6a6a;
}
.content-button,
.content-buy-action, 
.content-watch-action {
    vertical-align: middle;
    display: inline-block;
    padding-top: 2px;
}
.content-buy-action button {
    background: #2176b7;
}
.content-watch-action button {
    background: #82898f;
    margin-left: 3px;
}
.content-button button {
    width: 103px;
    color: #fcffff;
    padding: 6px 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}
.content-check-in {
    border: 2px solid #e7e8ea;
    background: #eff0f2;
    padding: 10px 0 10px 19px;
    margin-left: 8px;
    margin-right: 20px
}
.content-check-in-download img ,.text-6 {
    vertical-align: middle;
    display: inline-block;
    padding-left: 1px;
}
.text-6 {
    vertical-align: middle;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    color: #545557;
    padding-left: 11px;
}
.content-check-in-fieldset {
    padding-top: 8px;
    line-height: 37px;
}
.content-check-in-field 
,.content-check-in-field input {
    font-size: 9px;
    font-weight: bold;
    color: #6e6e6e;
}
.content-check-in-field input {
    padding: 5px 0 4px 3px;
    border-radius: 4px;
    background: #f6f6f6;
    box-sizing:border-box;
    width: 73%;
    margin-right: 17px;
    float: right;
    clear: both;
    margin-top: 6px;
}
.content-check-in-checkbox a {
    text-decoration: none;
    color: #7591a7;
}
.content-check-in-checkbox {
    font-size: 9px;
    padding-top: 10px;
    float: left;
    clear: both;
    padding-right: 34px;
}
.get-action {
    padding-top: 13px;
}
.get-action button {
    font-size: 8px;
    font-weight: bold;
    padding: 5px 17px;
    color: #ddffff;
    background: #2675b0;
}
/*-------------------------------------------*/
.main-content-wrapper {
    background: #f5f5f5;
    margin-top: 14px;
}
.main-content {
    padding: 12px 10px;
    color: #525659;
    margin: 0 -5px;
}
.main-content-1 img {
    border: 8px solid #e9eef1;
    box-sizing: border-box;
    width: 100%;
}
.main-content-1 {
    padding: 0 5px;
}
.main-content-header {
    padding-top: 6px;
    font-size: 13px;
    font-weight: bold;
    padding-left: 1px;
}
.main-content-text {
    font-size: 9px;
    padding-top: 10px;
    line-height: 1.5;
}
.lean-more-action {
    padding-top: 8px;
}
.lean-more-action button {
    padding: 4px 10px 4px 15px;
    background: #2b6b99;
    font-size: 9px;
    color: #e5ffff;
}
.content-bottom {
    border-top: 2px solid #dedede;
    margin-top: 6px;
}
.content-bottom-text-1 {
    padding: 14px 11px;
    font-size: 13px;
    font-weight: bold;
    color: #4f4f4f;
}
.content-bottom-scroll {
    border: 1px solid #eaebed;
    padding: 7px;
    background: #eff0f2;
    width: 90%;
    margin-right: 8px;
}
.content-bottom-scroll img {
    border: 4px solid #f7f8f2;
    box-sizing: border-box;
}
.content-bottom-img-1 {
    padding: 0 0 0 16px;
    margin: 4px 0 4px;
}
.content-bottom-text-2 {
    padding-top: 15px;
    font-size: 13px;
    font-weight: bold;
    color: #4f4f4f;
}
.content-bottom-about-text-1 {
    font-size: 10px;
    color: #8b8c8e;
}
.content-bottom-about-text-2 {
    font-size: 9px;
    font-style: italic;
    line-height: 1.4;
    color: #656668;
}
.content-bottom-about-text-1 
,.content-bottom-about-wrapper img {
    vertical-align: middle;
    display: inline-block;
}
.content-bottom-about-wrapper {
    border: 1px solid #e3e3e3;
    background: #eff0f2;
    margin: 10px 18px 14px 0;
    padding: 9px 25px 9px 13px;
    border-radius: 4px;
}
/*--------------------------------------------------------*/
.bottom-bar {
    margin-top: 12px;
    background: #f5f5f5;
    padding-top: 7px;
    padding-bottom: 2px;
}
.bottom-bar-img {
    padding-left: 8px;
}
.bottom-bar-text {
    padding: 2px 0 0 18px;
    font-size: 12px;
    font-weight: bold;
    color: #525358;
}
.bottom-bar-text-2 {
    padding: 3px 0 0 18px;
    font-size: 9px;
    font-style: italic;
    color: #7d7e80;
}
.bottom-bar-input {
    padding: 5px 0 0 25px;
}
.bottom-bar-input input {
    background: #e4eaea;
    width: 113%;
}
.bottom-bar-action {
    padding: 5px 0 0 38px;
}
.bottom-bar-action button {
    font-size: 9px;
    color: #e5ffff;
    background: #2b6b99;
    padding: 4px 12px 4px 10px;
}
/*-------------------------------------------------*/
.main-footer {
    background: #f5f5f5;
    margin-top: 14px;
    
}
.main-footer-tweets {
    padding-left: 12px;
}
.main-footer-tweets
,.main-footer-location {
    font-size: 12px;
    font-weight: bold;
    color: #525358;
    padding-top: 12px;
    padding-bottom: 13px;
}
.main-footer-location-map {
    padding-top: 11px;
}
.main-footer-location-adress-title {
    padding-top: 12px;
    font-size: 9px;
    color: #404040;
}
.main-footer-location-adress-street {
    padding-top: 3px;
    font-size: 8px;
    color: #717171;
}
.main-footer-location-adress-land {
    padding-top: 3px;
    font-size: 9px;
    color: #717171;
}
.main-footer-location-adress-web a {
    padding-top: 4px;
    font-size: 8px;
    text-decoration: none;
    color: #7ea7c5;
}
.contactus-action {
    padding-top: 4px;
}
.contactus-action button {
    font-size: 9px;
    padding: 4px 12px;
    background: #2d73a7;
    color: #d7faff;
}
.footer {
    border-top: 2px solid;
    padding-top: 0px
}
.footer-copyright {
    padding: 16px 0 10px 12px;
    font-size: 9px;
}
.social-item {
    display: inline-block;
    background: url('img/social.jpg') no-repeat;
    width: 21px;
    height: 21px;
    margin: 4px;
}