body {
    margin:0;
    height: 3349px;
    font-family: sans-serif;
}
body:after {
    content: '';
    display: block;
    background: url(screenshot.png) top center no-repeat;
    width: 100%;
    height: 3349px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}
body:hover:after {
    display: none;
}
.top-bar {
    background: #2c3e50;
    color: #ffffff;
}
.top-bar-name {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    line-height: 46px;
    padding: 13px 38px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.top-bar-navigation, .top-bar-navigation li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.top-bar-navigation a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
    line-height: 44px;
    padding: 14px 21px;
    display: inline-block;
    color: #ffffff;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
.top-pane {
    background: #18bc9c;
    text-align: center;
    padding: 128px 0 102px;
 }
.top-pane-logo {
    background: #2c3e50;
    width: 256px;
    height: 256px;
    border-radius: 128px;
    background: #2c3e50
        url("img/logo.png") no-repeat 50% 65%;
    background-size: 180px;
    margin: 0 auto;
}
.top-pane-title{
    font-size: 68px;
    font-weight: bold;
    color: #ffffff;
    margin: 28px auto;
    
}
.top-pane-desctiption {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
    white-space: pre;
    padding-top: 46px;
    margin: 0 auto;
}
.main-content-brief-bag {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: #333333;
    padding: 100px 0 38px;
}
.main-content {    
    background: yellow;
}
.main-content-item {
    display: inline-block;
    width: 30%;
    height: 25%;
    margin: 20px 36px ;
    vertical-align: top;
}
.home {
    background: #ba4c63;
    padding: 28px px;
}
.cake {
    background: #1fa4b6;
}
.tent {
    background: #130f0f;
}
.joystick {
    background: #1d83c1;
}
.strongbox {
    background: #1037b5;
}
.submarine {
    background: #ccb2a3;
}
.main-content-item:nth-child(3n) {
    margin-right: 0;
}