body {
    margin:0;
    font-family: sans-serif;
}
.top-bar {
    background: #2c3e50;
    color: #fff;
}
.top-bar-name {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    line-height: 46px;
    padding: 13px 38px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    float: left;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.top-bar-navigation, .top-bar-navigation li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-bar-navigation {
    float: right;
}
.top-bar-navigation a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
    line-height: 44px;
    padding: 14px 21px;
    display: inline-block;
    color: #fff;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
.top-pane {
    background: #18bc9c;
    text-align: center;
    padding: 128px 0 102px;
 }
.top-pane-logo {
    background: #2c3e50;
    width: 256px;
    height: 256px;
    border-radius: 128px;
    background: #2c3e50
        url("img/logo.png") no-repeat 50% 65%;
    background-size: 180px;
    margin: 0 auto;
}
.top-pane-title {
    font-size: 68px;
    font-weight: bold;
    color: #fff;
    margin: 28px auto 0;
}
.top-pane-title:after {
    content: '';
    display: block;
    max-width: 250px;
    height: 26px;
    background: url("img/star.png") no-repeat center center;
    margin: 24px auto 0;
}
.top-pane-desctiption {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    white-space: pre;
    padding-top: 24px;
    margin: 0 auto;
}
.main-content-brief-bag {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: #333;
    padding: 100px 0 0;
}
.main-content-brief-bag:after {
    content: '';
    display: block;
    max-width: 250px;
    height: 26px;
    background: url("img/star-blue.png") no-repeat center center;
    margin: 12px auto 0;
}
.main-content {    
    padding-bottom: 100px;
}
.main-content-item {
    display: block;
    width: 33.33%;
    float: left;
    padding: 25px 0;
    margin: 0 0 30px;
    text-align: center;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 #fff;
}
img {
    max-width: 206px;
    width: 80%;
}
.main-content-item-list {
    padding: 20px 15px;
}
.home {
    background: #ba4c63;
}
.cake {
    background: #1fa4b6;
}
.tent {
    background: #130f0f;
}
.joystick {
    background: #1d83c1;
}
.strongbox {
    background: #1037b5;
}
.submarine {
    background: #ccb2a3;
}
.main-about {
    background: #18bc9c;
    padding-bottom: 100px;
    color: #fff;
    
}
.about-me {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    padding: 100px 0 0;
}
.about-me:after {
    content: '';
    display: block;
    max-width: 250px;
    height: 26px;
    background: url("img/star.png") no-repeat center center;
    margin: 12px auto 0;
}
.main-about-description {
    padding: 22px 20px 0;
    font-size: 20px;
    width: 50%;
    float: left;
    line-height: 1.4;
    box-sizing: border-box;
}
.main-about-sentence {
    padding: 22px 0 0 20px;
    font-size: 20px;
    width: 50%;
    float: left;
    line-height: 1.4;
    box-sizing: border-box;
}
.main-about .container {
    max-width: 776px;
}
.about-me:after {
    content: "";
  display: block;
  clear: both;
}
.download-action button {
    display: block;
    width: 210px;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    background: #18bc9c;
    margin: 24px auto 0;
    font-size: 18px;
    padding: 14px 20px 10px 44px;
}
.main-contact {
    text-align: center;
}
.contact-me {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 100px 0 20px;
    color: #333;
}
.contact-me:after {
    content: '';
    display: block;
    max-width: 250px;
    height: 26px;
    background: url("img/star-blue.png") no-repeat center center;
    margin: 12px auto 0;
}
.main-contact form {
    width: 100%;
}
.main-contact .container {
    max-width: 730px;
}
.main-contact input {
    border: none;
    border-top: 1px solid #ccc;
    background: #fff;
    font-size: 20px;
    color: #a0a0a0;
    padding: 28px 20px 22px 16px;
    width: 100%;
    box-sizing: border-box;
}
.send-action button {
    margin: 144px 0 114px 0;
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 8px;
    background: #18bc9c;
    color: #fff;
}
.send-action {
    text-align: left;
    
}
/*.bottom-pane{
    width: 100%;
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding-bottom: 58px;
}
.bottom-pane-title {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 68px 0 30px;
}
.bottom-pane-location {
    margin-left: 25px;
}
.bottom-pane-location,
.bottom-pane-web,
.bottom-pane-freelancer {
    float: left;
    width: 30%;
    
}
.bottom-pane:after {
  content: "";
  display: table;
  clear: both;
}
.bottom-pane-street,
.bottom-pane-place,
.bottom-pane-text {
     font-size: 18px;
     line-height: 1.6;
}
.bottom-pane-web {
    margin-left: 30px;
}
.bottom-pane-around {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 68px 0 0;
}
.main-social-item {
    
    padding-top: 26px;
    
    box-sizing: border-box;
}
.social-item {
    float: left;
    background: url('img/social.png') no-repeat;
    width: 34px;
    height: 34px;
    margin: 5px;
    padding: 8px;
    background: yellow;
    text-align: center;
    
}
.social-item:hover {
    border: 1px solid fuchsia;
}
.social-item-fb {
    background-position: 0 0;
}
.social-item-gp {
    background-position-x: -63px;
}
.social-item-tw {
    background-position-x:  -126px;
}
.social-item-in {
    background-position-x: -189px;
}
.social-item-hz {
    background-position-x: -252px;
}
.bottom-pane-freelancer {
    margin-left: 30px;
}
.bottom-pane-text a {
    color: #18b999;
    text-decoration: none;
}
.bottom-bar {
    background: #233140;
    text-align: center;
    font-size: 13px;
    padding: 28px 0 28px;
    color: #fff;
}
@media (max-width: 750px) {
    .top-bar-name {
        display: block;
        text-align: center;
        float: none;
    }
    .top-bar-navigation  {
        display: block;
        float: none;
        text-align: center;
    }
    .top-pane-title {
    font-size: 38px;
    }
    .top-pane-logo {
        width: 85px;
        height: 85px;
        background-size: 60px;
        border-radius: 10px;
    }
}
*/