body {
    margin:0;
    height: 3349px;
    font-family: sans-serif;
}
body:after {
    content: '';
    display: block;
    background: url(screenshot.png) top center no-repeat;
    width: 100%;
    height: 3349px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}
body:hover:after {
    display: none;
}
.top-bar {
    background: #2c3e50;
    color: #ffffff;
}
.top-bar-name {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    line-height: 46px;
    padding: 13px 38px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.top-bar-navigation, .top-bar-navigation li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.top-bar-navigation a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
    line-height: 44px;
    padding: 14px 21px;
    display: inline-block;
    color: #ffffff;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
 .top-pane {
    background: #18bc9c;
    padding: 128px 512px;
 }
.top-pane-logo {
    background: #2c3e50;
    width: 256px;
    height: 256px;
    border-radius: 128px;
    display: inline-block;
    background: #2c3e50
        url("img/logo.png") no-repeat 50% 65%;
    background-size: 180px;
}
.top-pane-title{
    font-size: 68px;
    font-weight: bold;
    display: inline-block;
    color: #ffffff;
    white-space: pre;
    padding-top: 20px;
    margin: 264px 0 74px -286px;
}
.top-pane-desctiption {
    font-size: 24px;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    text-transform: capitalize;
    white-space: pre;
}
    
/*.main-content {
    height: 886px;
    background-color: #ffffff;
    border-bottom: 1px solid black;
}
.main-content-item {
    width: 360px;
    height: 260px;
    background: red;
}
например у top-pane-logo сделаешь margin-bottom: 20px;
ну условно 20 - делаешь ско надо
потом top-pane-title делаешь padding: 20px например
и margin-bottom скок надно, и у top-pane-desctiption - ток маргин не делаешь.
а потом задаёшь нужный padding у самого top-pane, к примеру padding: 100px 20px;
top-pane-title делаешь padding: 20px 0
так как у top-pane уже будет padding по бокам
*/